<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Bizboard.dao.AdminDao">


<select id="getDeptList" resultType="com.Bizboard.vo.Dept">
	select * from dept order by deptno asc
</select>

<insert id="deptInsert" parameterType="com.Bizboard.vo.Dept">
	insert into dept(deptno,dname,loc) values(#{deptno},#{dname},#{loc})
</insert>


<update id="deptUpdate" parameterType="com.Bizboard.vo.Dept">
	update dept set dname = #{dname} , loc = #{loc} where  deptno = #{deptno} 
</update>



</mapper>




