<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Bizboard.dao.BoardDao">

	<!-- 조회수 증가 -->
	<update id="increaseBoardViews">
		UPDATE Board
		SET b_views = b_views + 1 
		WHERE b_code = #{bcode}
	</update>

	<!-- 공지사항 전체 select -->
	<select id="selectAllNoticeBoard"
		resultType="com.Bizboard.vo.Board">
		SELECT b_code, b_id, b_name, b_email, b_title, b_content,
		b_views,
		b_created, b_updated, bt_code
		FROM Board
		WHERE bt_code = #{btCode}
		ORDER BY
		b_code DESC
	</select>

	<!-- 공지사항 조건 select -->
	<select id="selectNoticeBoard" resultType="com.Bizboard.vo.Board">
		SELECT b_code, b_id, b_name, b_email, b_title, b_content, b_views,
		b_created, b_updated, bt_code
		FROM Board
		WHERE b_code = #{bcode}
	</select>

	<!-- 공지사항 insert -->
	<insert id="insertNoticeBoard"
		parameterType="com.Bizboard.vo.Board">
		<trim prefix="INSERT ALL" suffix="SELECT 1 FROM DUAL">
			INTO BOARD (b_code, b_id,
			b_name, b_email, b_dname, b_title, b_content,
			b_views, b_created,
			bt_code)

			VALUES (board_seq.NEXTVAL, #{bid}, #{bname}, #{bemail},
			#{bdname},
			#{btitle}, #{bcontent}, 0, sysdate, #{btCode})

			INTO
			NOTICEBOARD (nb_code, b_code)
			VALUES (notice_seq.NEXTVAL,
			board_seq.CURRVAL)
		</trim>
	</insert>

	<update id="updateNoticeBoard" parameterType="com.Bizboard.vo.Board">
		UPDATE Board
		SET b_title = #{btitle},
		    b_content = #{bcontent},
		    b_updated = SYSDATE
		WHERE b_code = #{bcode}
	</update>
	
	<delete id="deleteNoticeBoard">
		DELETE 
		FROM Board 
		WHERE b_code = #{bcode}
	</delete>
	
	<delete id="deleteAdditionalNoticeBoard">
		DELETE 
		FROM NoticeBoard 
		WHERE b_code = #{bcode}
	</delete>

	<select id="selectAllFileStorageBoard"
		resultType="com.Bizboard.vo.BoardFileJoin">
		SELECT *
		FROM Board B
		JOIN FileStorageBoard F ON B.b_code =
		F.b_code
		WHERE bt_code = #{btCode}
		ORDER BY B.b_code DESC
	</select>



<!-- 파일게시판 insert -->
<insert id="insertFileStorageBoard" parameterType="com.Bizboard.vo.Board">
	<trim prefix="INSERT ALL" suffix="SELECT 1 FROM DUAL">
	INTO BOARD (b_code, b_id, b_name, b_email, b_dname, b_title, b_content, b_views, b_created, bt_code)
		VALUES (board_seq.NEXTVAL, #{bid}, #{bname}, #{bemail}, #{bdname}, #{btitle}, #{bcontent}, 0, sysdate, #{btCode})
			
     INTO FileStorageBoard (fb_code, b_code, fb_originfile, fb_savedfile, fb_filesize)
    	VALUES (file_seq.NEXTVAL, board_seq.CURRVAL, #{fbOriginfile}, #{fbSavedfile}, #{fbFilesize}) 
  	</trim>
  </insert>
  


</mapper>